# Visual Studio
BlazorLogikBackup/.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Carpetas de compilación de .NET
BlazorLogikBackup/obj/
BlazorLogikBackup/bin/

# Archivos generados por el build (como el sourcelink.json que se ve)
# Normalmente ignorar obj/ y bin/ es suficiente, pero si aparecen en otros lados:
*.sourcelink.json