
@using Radzen.Blazor

<div class="sidebar">



    <RadzenMenu>
  
        <RadzenMenuItem Text="Menús Postres"
                        Path="/Administracion/MenuPostres"
                        Icon="restaurant_menu" />
        <RadzenMenuItem Text="Recetas"
                        Path="/Administracion/Recetas"
                        Icon="menu_book" />
    </RadzenMenu>

</div>


