@inherits LayoutComponentBase
@using Radzen
@using Radzen.Blazor

<div class="d-flex main-layout-container dessert-theme">
    <div class="sidebar styled-sidebar collapsible-sidebar">
        

        <RadzenPanelMenu class="styled-panel-menu">
            <RadzenPanelMenuItem Text="Inicio" Path="/" Icon="home" />
            <AuthorizeView>
                <Authorized>
                    <RadzenPanelMenuItem Text="Administración KROYA" Path="/Administracion/MenuPostres" Icon="admin_panel_settings" />
                </Authorized>
            </AuthorizeView>
            <RadzenPanelMenuItem Text="Nuestros Postres" Path="/MenuPrincipal" Icon="cake" />
            <RadzenPanelMenuItem Text="Haz tu Pedido" Path="/pedidos" Icon="shopping_cart" />
            <RadzenPanelMenuItem Text="Contáctanos" Path="/Contacto" Icon="email" />
        </RadzenPanelMenu>
    </div>

    <div class="main-content flex-grow-1">
        @Body
    </div>
</div>