@page "/Contacto"
@layout PanelMenuLayout

<PageTitle>Contacto</PageTitle>
<img src="images/Imagenes/LogoKroyaSinFondo.png"
     alt="Logo de Kroya"
     style="display: block; max-width: 220px; height: auto; margin: 10px auto;" />
<div class="contact-container">
    <div class="contact-header">
        <h1>¡Nos encantaría saber de ti!</h1>
        <p></p>
    </div>

    <div class="contact-cards">
        

        

        <div class="card">
            <div class="card-icon">
                <i class="fab fa-instagram"></i>
            </div>
            <div class="card-content">
                <h3>Instagram</h3>
                <p>Síguenos para novedades</p>
                <a href="https://www.instagram.com/tu_usuario_de_instagram" target="_blank">Ir al perfil</a>
            </div>
        </div>

        <div class="card">
            <div class="card-icon">
                <i class="fab fa-whatsapp"></i>
            </div>
            <div class="card-content">
                <h3>WhatsApp</h3>
                <p>Escríbenos Ahora</p>
                <a href="https://wa.me/593991234567" target="_blank">Iniciar chat</a>
            </div>
        </div>
        <div class="card card-full-width">
            <div class="card-icon">
                <i class="fas fa-phone-alt"></i>
            </div>
            <div class="card-content">
                <h3>Teléfono</h3>
                <p>+593 99 123 4567</p>
                <a href="tel:+593991234567">Llamar ahora</a>
            </div>
        </div>
        
    </div>

   
</div>

@code {
    // Aquí puedes agregar la lógica para manejar el envío del formulario.
}